div.gallery {
    margin: 4px;
    border: 2px solid #ccc;
    float: left;
    width: 250px;
    /*height: 200px;*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}